<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/global.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="nav-links">
            <button><a href="/login">Login</a></button>
            <button><a href="/register">Register</a></button>
        </div>
    </nav>

    <div class="parent-container">
        <div class="heading">
            <h1>Welcome to the Home Page</h1>
        </div>
    </div>

</body>
</html>