<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/global.css">
    <title>Login</title>
</head>
<body>
    <nav>
        <div class="nav-links">
            <button><a href="/">Home</a></button>
        </div>
    </nav>

    <div class="parent-container" id="login">
        <div class="heading">
            <h1>Login</h1>
        </div>
        <div class="container">
            <form action="/login " method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required autocomplete="off"><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required autocomplete="off"><br><br>

                <input type="submit" value="Login">
            </form>
        </div>
    </div>

</body>
</html>